#### data1 location and works top10
#### data2 mark and url
#### data3 mark and tag

In [1]:
import pandas as pd

In [30]:
data1 = pd.read_csv("Top10_location_correct.csv")
data1['name'] = data1['Name'].str.lower()

#lower the name

In [68]:
data2 = pd.read_csv("marks_url.csv")

,Mark,belong,url
2398,LOTHIAN,My own brick examples,https://www.scottishbrickhistory.co.uk/?p=7409...

In [29]:
data3 = pd.read_csv("tag_csv.csv")
data3.rename(columns={'mark':'MARK'}, inplace=True)
data3['mark'] = data3['MARK'].str.lower()
#colume name and change the mark to lowercase

   Unnamed: 0       MARK                      tag       mark
0           0          A                    Atlas          a
1           1  A/8 315 Y                     Alro  a/8 315 y
2           2  A/8 315 Y  GR - Stein Refractories  a/8 315 y
3           3   ABERCORN                 Abercorn   abercorn
4           4   ABERCORN                 Abercorn   abercorn

### Find the match through tag

give a list of all names that i want ot find out

In [21]:
name = data1['Name']
print(name)

0               Scottish Brick Company
1                Crown Fire Clay Works
2                 Westthorn Brickworks
3               Darnley Fireclay Works
4             William Baird and Co Ltd
                    ...
585                 Old Kirk Tileworks
586             Croftmalloch Tileworks
587             Midlothian Oil Company
588              West Works Brickworks
589    Straiton Estate Company Limited
Name: Name, Length: 590, dtype: object

if there are match in mark' tag

In [65]:
pattern = '|'.join(name)
df3 = data3[data3['tag'].str.contains(pattern, case=False)]
df3.groupby('MARK').count()

                                      Unnamed: 0  tag  mark
MARK
00363 ND 216 Y                                 1    1     1
1..                                            1    1     1
1784 SILLIMANITE LSPE 7102 W DETRICK           1    1     1
3                                              1    1     1
7                                              1    1     1
...                                          ...  ...   ...
SUPERMAG                                       1    1     1
TAYLOR & KING AUCHINLEA                        1    1     1
TAYLOR BROS                                    1    1     1
WHIFFLET                                       1    1     1
^ I H ^      Â                                  1    1     1

[208 rows x 3 columns]

In [61]:
marks = pd.DataFrame(df3) 
marks.to_csv("marks.csv")

In [55]:
tag = ['Afton Brick and Tile Works',
       'Afton Tileworks',
       'Airdrie Brickworks',
       'Alexandra Transport Company',
       'Asbestic Sand Brick Company',
      'Bairds and Scottish Steel',
      'Bothwell Park Brickworks',
      'Calder Fireclay Company',
       'Carfin Brickworks',
       'Carfin Colliery Brickworks',
       'Carnbroe Fire Brick Works',
       'Coltness Brickworks Limited',
       'Craigton Brickworks',
       'Crown Fire Clay Works',
       'Drongan Pottery',
       'Fleming and Moritz',
       'Greenfield Brickworks Shettleston',
       'Greenhill Fireclay Company','Ibstock Scottish Brick Limited',
       'John and James Baird',
       'Kopel Moritz',
       'Larkhall Brickfields',
       'Southhook Fireclay Works',
       'Whitehill Tileworks', 
       'William Baird',
       'Wishaw Brickworks']

search = '|'.join(tag)

In [59]:
df4 = data1[data1['Name'].str.contains(search, case=False)]
df4

,NO,Url,Name,Location,Date,Text_num,Img_num,History,edit_year,Age,name
1,288,https://www.scottishbrickhistory.co.uk/crown-f...,Crown Fire Clay Works,"Gallowgate, Glasgow",2015/2/5,8446,12,"['1872-1873', '1890-91', '1891-92', '1892-1893...",2015,34,crown fire clay works
4,949,https://www.scottishbrickhistory.co.uk/william...,William Baird and Co Ltd,Glasgow,2015/6/18,6523,2,"['1816', '1822', '1825', '1828', '1830', '1843...",2015,143,william baird and co ltd
52,279,https://www.scottishbrickhistory.co.uk/craigto...,Craigton Brickworks,"Paisley Road, Govan, Glasgow",2017/4/13,13718,13,"['1856', '1857', '1858', '1858-1859', '1864', ...",2017,55,craigton brickworks
74,17,https://www.scottishbrickhistory.co.uk/alexand...,Alexandra Transport Company,Glasgow,2017/9/5,2995,0,"['1932', '1945', '1965']",2017,33,alexandra transport company
166,201,https://www.scottishbrickhistory.co.uk/carnbro...,Carnbroe Fire Brick Works,"Coatbridge, North Lanarkshire",2015/7/8,1896,2,"['1885', '1885', '1897', '1890-91']",2015,5,carnbroe fire brick works
197,959,https://www.scottishbrickhistory.co.uk/wishaw-...,Wishaw Brickworks,"Beltonfoot, Wishaw, North Lanarkshire",2016/8/11,5304,2,"['1844', '1850', '1850', '1852-1853', '1855', ...",2016,21,wishaw brickworks
200,119,https://www.scottishbrickhistory.co.uk/bothwel...,Bothwell Park Brickworks,"Fallside, Uddingston, South Lanarkshire",2016/10/12,16007,12,"['1851', '1882', '1896', '1898', '1898', '1898...",2016,103,bothwell park brickworks
213,195,https://www.scottishbrickhistory.co.uk/carfin-...,Carfin Brickworks,"Motherwell, North Lanarkshire",2016/11/23,22187,16,"['1854', '1859', '1868-1869', '1869', '1875', ...",2016,94,carfin brickworks
219,576,https://www.scottishbrickhistory.co.uk/larkhal...,Larkhall Brickfields,"Birkenshaw, Larkhall, South Lanarkshire",2016/12/17,1749,6,"['1896', '1896', '1896', '1897', '1899', '1902...",2016,8,larkhall brickfields
228,9,https://www.scottishbrickhistory.co.uk/airdrie...,Airdrie Brickworks,"Petersburn, Airdrie, North Lanarkshire",2017/4/17,3678,2,"['1937', '1935', '1937', '1941', '1942-43', '1...",2017,39,airdrie brickworks
259,472,https://www.scottishbrickhistory.co.uk/greenhi...,Greenhill Fireclay Company,"Denny, Bonnybridge, Stirlingshire",2017/10/14,10999,8,"['1860', '1864', '1866', '1867', '1868', '1868...",2017,95,greenhill fireclay company
311,257,https://www.scottishbrickhistory.co.uk/coltnes...,Coltness Brickworks Limited,"Newmains, Wishaw, North Lanarkshire",2018/12/21,1930,4,"['1964', '1966', '1970', '1970', '1973', '1973...",2018,13,coltness brickworks limited
331,511,https://www.scottishbrickhistory.co.uk/ibstock...,Ibstock Scottish Brick Limited,"Old Edinburgh Road, Uddingston, South Lanarks...",2019/7/5,7775,1,"['1972', '1994', '1995', '1996', '1996', '2000...",2019,36,ibstock scottish brick limited
334,196,https://www.scottishbrickhistory.co.uk/carfin-...,Carfin Colliery Brickworks,"Carfin, North Lanarkshire",2019/8/5,3571,2,"['1881', '1884', '1889', '1893', '1897', '1910...",2019,57,carfin colliery brickworks
360,829,https://www.scottishbrickhistory.co.uk/southho...,Southhook Fireclay Works,"Dreghorn, Kilmarnock, East Ayrshire",2014/9/17,16999,34,"['1901', '1908', '1908-1909', '1910', '1913', ...",2014,53,southhook fireclay works
389,7,https://www.scottishbrickhistory.co.uk/afton-b...,Afton Brick and Tile Works,"New Cumnock, East Ayrshire",2016/9/23,11072,7,"['1927', '1930', '1931', '1935', '1936', '1936...",2016,50,afton brick and tile works
482,332,https://www.scottishbrickhistory.co.uk/drongan...,Drongan Pottery,"Coalhall, East Ayrshire",2018/11/29,1501,3,"['1778', '1790', '1832', '1850', '1857', '1857']",2018,79,drongan pottery
499,8,https://www.scottishbrickhistory.co.uk/afton-t...,Afton Tileworks,"Straid, New Cumnock, East Ayrshire",2019/10/30,3240,9,"['1850', '1851', '1851', '1851', '1851', '1852...",2019,5,afton tileworks
557,943,https://www.scottishbrickhistory.co.uk/whitehi...,Whitehill Tileworks,"Carrington Parish, Midlothian",2018/2/2,1026,1,"['1852', '1852-1853', '1892']",2018,40,whitehill tileworks
558,36,https://www.scottishbrickhistory.co.uk/asbesti...,Asbestic Sand Brick Company,"Bathgate, West Lothian",2018/2/14,7872,1,"['1896', '1903', '1904', '1904-1905', '1904', ...",2018,42,asbestic sand brick company

In [62]:
locations = pd.DataFrame(df4) 
locations.to_csv("locations.csv")

In [ ]:
df5 = data2[data2['MARK'].str.contains(search, case=False)]
df5